main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  padding: 30px;
  padding-top: 30px;
  flex: 0;
}

main > .container {
  width: 1200px;

  &.slideshow {
    min-height: 600px;
  }
}

.input-container {
  margin-bottom: 5px;
}

.accent {
  color: hotpink;
}

.accent2 {
  color: cyan
}

canvas {
  margin-top: 30px;
  background-color: #303030;
}

.dot-container {
  position: relative;
}

.dot-debug {
  position: absolute;
  top: 70px;
  left: 0px;
}

.dot {
  position: absolute;
  background: darkmagenta;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(0deg);
  top: 10px;
  left: 25px;
  transition: none;
}

.example-code {
  padding-top: 30px;
}

pre code {
  font-size: 16px;
  color: #9eaeb3;

  &.large { font-size: 2.5em; }

  .keyword { color: rgb(108, 158, 220); }
  .var, .variable { color: rgb(0, 255, 229); }
  .number, .value { color: #becfd4; }
  .function, .func { color: rgb(115, 175, 195); }
  .alt1 { color: rgb(175, 115, 195); }
  .alt2 { color: rgb(115, 195, 122); }
}
